DATAROOT=/path/to/datasets/
LIKELIHOODS_SAVE_DIR=/path/to/computed_likelihoods/

# for notebooks:
RESULTS_DIR_64x64=/work/bb1153/b382145/computer_vision/analysis/likelihoods/nsf-goes-64x64-hogncq16CLOUD_FRAC/